.main-wrapper {
  margin-left: 280px;
  > section {
    padding: 3rem;
  }

  .section-title {
    position: relative;
    font-size: 2rem;
    padding-left: 1.5rem;
    &::before {
      background: #6c51a4;
      content: "";
      display: inline-block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    .item {
      text-align: center;
      margin: 5px;
      width: 200px;
      flex-basis: 200px;
      flex-grow: 0;
      article {
        margin: 0;
        padding: 2rem 0.75rem;
        .item-icon {
          svg {
            height: 2em;
          }
        }
        .item-title {
          margin-top: var(--typography-spacing-vertical);
          margin-bottom: 1rem;
          font-size: 1.2rem;
          white-space: nowrap;
        }
        .item-desc {
          font-size: .875rem;
        }
      }
    }
  }
}
